<!DOCTYPE html>
<html lang="en">

<head>
    <title>Riley-Moore</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="contact.css">
    <link rel="stylesheet" href="css/uikit.min.css" />
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    <script src="app.js" defer></script>
</head>

<nav>
    <div class="uk-grid" id="header-bar">
        <!-- <div id="header-logo"">
            <img src="/Website/images/mountain.png" alt="Mountain Icon">
        </div> -->
        <h2 id="header-title">Riley Moore</h2>
        
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li><a class="uk-text-success" href="index.html">Home</a></li>
                <li><a class="uk-text-success" href="about.html">About Me</a></li>
                <li><a class="uk-text-success" href="projects.html">Projects</a></li>
                <li><a href="#">Contact Me</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="contact-container">
    <h3 style="padding-left: 10px;">Get in touch</h3>
    <input class="first-name-box" type="textbox" />
    <input class="last-name-box" type="textbox" />
    <input class="email-box" type="textbox" />
    <input class="email-body-box" type="textbox" />
    <input type="button" class="uk-button-danger submission-button"
</div>

<body>
    <div class="space stars1"></div>
    <div class="space stars2"></div>
    <div class="space stars3"></div>
</body>

</html>