<!DOCTYPE html>
<html lang="en">

<head>
    <title>Riley-Moore</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/uikit.min.css" />
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    <script src="app.js" defer></script>
</head>

<nav>
    <div class="uk-grid" id="header-bar">
        <!-- <div id="header-logo"">
            <img src="/Website/images/mountain.png" alt="Mountain Icon">
        </div> -->
        <h2 id="header-title">Riley Moore</h2>
        
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li><a class="uk-text-success" href="index.html">Home</a></li>
                <li><a href="#">About Me</a></li>
                <li><a class="uk-text-success" href="projects.html">Projects</a></li>
                <li><a class="uk-text-success" href="contact.html">Contact Me</a></li>
            </ul>
        </div>
    </div>
</nav>

<body>
    <div class="main"></div>

    <div class="about-me-intro">
        <div class="uk-grid">
            <p><p style="color: red">Major: </p> Computer Science</p>
        </div>
        <div class="uk-grid">
            <p><p style="color: red">Minor:</p> Mathematics</p>
        </div>
        <div class="uk-grid">
            <p><p style="color: red">School:</p> Texas Tech University</p>
        </div>
    </div>

    <div class="about-me-intro">
        <div class="uk-grid">
            <p><p style="color: red">Age: </p> 22</p>
        </div>
        <div class="uk-grid">
            <p><p style="color: red">Active Workplace:</p> P.C.C.A.</p>
        </div>
        <div class="uk-grid">
            <p><p style="color: red">Active Location:</p> Lubbock, Texas</p>
        </div>
    </div>
</body>

</html>