<!DOCTYPE html>
<html lang="en">

<head>
    <title>Riley-Moore</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/contact.css">
    <link rel="stylesheet" href="css/uikit.min.css" />
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    <script src="app.js" defer></script>
</head>

<nav>
    <div class="uk-grid" id="header-bar">
        <h2 id="header-title">Riley Moore</h2>

        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li><a class="uk-text-success" href="index.html">Home</a></li>
                <li><a class="uk-text-success" href="about.html">About Me</a></li>
                <li><a class="uk-text-success" href="projects.html">Projects</a></li>
                <li><a href="#">Contact Me</a></li>
            </ul>
        </div>
    </div>
</nav>

<form method="post" action="https://formsubmit.co/xrileyxmoorex@outlook.com">
    <div class="contact-container">
        <div class="container-content">
            <input id="input-contact" type="hidden" name="_subject" value="Contact from RileyMoore01.github.io">
            <input style="width: 40em" id="input-contact" type="email" name="email" placeholder="Email Address" required>
        </div>
        <div class="container-content">
            <input id="input-contact" type="hidden" name="_next" value="" >
        </div>
        <textarea name="name" style="width: 40em; height: 20em;" placeholder="Message" required></textarea>
        <div class="container-content">
            <button id="submit" class="uk-button-danger" type="submit">Send</button>
        </div>
    </div>
</form>
</html>