<!DOCTYPE html>
<html lang="en">

<head>
    <title>Riley-Moore</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/pearpi.css">
    <link rel="stylesheet" href="css/uikit.min.css" />
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/app.js" defer></script>
</head>

<nav>
    <div class="uk-grid" class="header-bar">
        <h2 id="header-title">Riley Moore</h2>
        
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li><a class="uk-text-success" href="index.html">Home</a></li>
                <li><a class="uk-text-success header-nav-list-item" href="about.html">About Me</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a class="uk-text-success" href="contact.html">Contact Me</a></li>
            </ul>
        </div>
    </div>
</nav>

<body>
    <div class="main"></div>
    <div class="content-container">
        <div class="goal-container"> 
            <h1 style="color:white;">Goal</h1>
            <p>1.) Be able to to detect when a new shirt arrives on a new palet</p>
            <p>2.) Be able to to take an image with the raspberry pi camera module</p>
            <p>3.) Be able to to compare the changes of the reference image and the one just taken</p>
            <p>4.) Be able to to alert the staff when there is a difference surpassing the threshold</p>
        </div>
    
        <div class="complete-container"> 
            <h1 style="color:white;">Complete</h1>
            <p>1.) Ultrasonic sensor is connected and reading accuratley</p>
            <p>2.) RaspberryPi is connected to the camera module to take pictures and buzzer to alert employees</p>
            <p>3.) GUI is ready and has accessible features (runs on boot load)</p>
            <p>4.) All logic found while testing was added (such as void passing)</p>
        </div>
    </div>
</body>


</html>