.about-me-intro {
    max-width: 500px;
    max-height: 300px;

    border-radius: 25px;
    padding: 50px;
    margin-top: 100px;

    color: white;
    background-color: black;

    animation: 1s ease-out 0s 1 slideInFromLeft;
    transform: translateX(calc((100vw / 2) - 200px));
    transition: 2s;
}

.pearpi-container {
    background-color: white;
    color: white;
}

.conversion-container {

}

.drone-container {

}

.project-container {
    z-index: 999;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(calc((100vw / 2) - 200px));
    }
}