/* Elements */
body {
    max-height: 100vh;
    height: 100%;

    overflow: hidden;
}

img {
    max-height: 550px;
    max-width: 300px;
    width: 100%;
}

/* Classes */

.uk-text-success :hover {
    color: red;
}

.uk-navbar-item, 
.uk-navbar-nav>li>a,
.uk-navbar-toggle {
    font-size: 1.5rem !important;
}


.uk-navbar-right {
    max-height: 50px;
    position: center;
    padding-right: 20px;
    padding-bottom: 10px;
    z-index: 999;
}

.header-bar {
    background-color: black;
    display: flex;
    z-index: 900;
}

.header-nav-list-item {
    cursor: pointer;
}

.body-title, .university {
    color: white;
    text-align: center;
}

.redirect-container {
    padding: 20px;
    position: relative;
    justify-content: center;
    text-align: center;
    z-index: 900;
}

/* ID's */

#header-title {
    color: white;
    padding-top: 10px;
    padding-left: 60px;
}

#redirect-button {
    max-height: 150px;
    cursor: pointer;
    border-radius: 10px;
}

#redirect-image {
    max-height: 100px;
}

/*  --- Slideshow Animation ---  */

* {
    box-sizing: border-box
}
body {
    font-family: Verdana, sans-serif;
    margin: 0
}
.mySlides {
    display: none
}
img {
    vertical-align: middle;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    z-index: 900;
}
  /* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  /* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
  /* Caption text */
.text {
    color: #ffffff;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
  /* Number text (1/3 etc) */
.numbertext {
    color: #ffffff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active,
.dot:hover {
    background-color: #111111;
}
  /* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
  /* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

/*  --- End of Slideshow Animation ---  */



/* --- Space Backgroung --- */

body {
    background: radial-gradient(circle at bottom, navy 0, black 100%);
    height: 100vh;
    overflow: hidden;
}
.space {
    background: rgba(128, 0, 128, 0.1) center / 200px 200px round;
    border: 1px dashed purple;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.stars1 {
    animation: space 180s ease-in-out infinite;
    background-image:
        radial-gradient(
            1px 1px at 25px 5px, 
            white, 
            rgba(255, 255, 255, 0)
        ),
        radial-gradient(
            1px 1px at 50px 25px, 
            white, 
            rgba(255, 255, 255, 0)
        ),
        radial-gradient(
            1px 1px at 125px 20px, 
            white, 
            rgba(255, 255, 255, 0)
        ),
        radial-gradient(
            1.5px 1.5px at 50px 75px, 
            white, 
            rgba(255, 255, 255, 0)
        ),
        radial-gradient(
            2px 2px at 15px 125px, 
            white, 
            rgba(255, 255, 255, 0)
        ),
        radial-gradient(
            2.5px 2.5px at 110px 80px, 
            white, 
            rgba(255, 255, 255, 0)
        );
    }
.stars2 {
    animation: space 240s ease-in-out infinite;
    background-image:
    radial-gradient(
        1px 1px at 75px 125px, 
        white, 
        rgba(255, 255, 255, 0)
    ),
    radial-gradient(
        1px 1px at 100px 75px, 
        white, 
        rgba(255, 255, 255, 0)
    ),
    radial-gradient(
        1.5px 1.5px at 199px 100px, 
        white, 
        rgba(255, 255, 255, 0)
    ),
    radial-gradient(
        2px 2px at 20px 50px, 
        white, 
        rgba(255, 255, 255, 0)
    ),
    radial-gradient(
        2.5px 2.5px at 100px 5px, 
        white, 
        rgba(255, 255, 255, 0)
    ),
    radial-gradient(
        2.5px 2.5px at 5px 5px, 
        white, 
        rgba(255, 255, 255, 0)
    );
}
.stars3 {
    animation: space 300s ease-in-out infinite;
    background-image:
    radial-gradient(
        1px 1px at 10px 10px, 
        white, 
        rgba(255, 255, 255, 0)
    ),
    radial-gradient(
        1px 1px at 150px 150px, 
        white, 
        rgba(255, 255, 255, 0)
    ),
    radial-gradient(
        1.5px 1.5px at 60px 170px, 
        white, 
        rgba(255, 255, 255, 0)
    ),
    radial-gradient(
        1.5px 1.5px at 175px 180px, 
        white, 
        rgba(255, 255, 255, 0)
    ),
    radial-gradient(
        2px 2px at 195px 95px, 
        white, 
        rgba(255, 255, 255, 0)
    ),
    radial-gradient(
        2.5px 2.5px at 95px 145px, 
        white, 
        rgba(255, 255, 255, 0)
    );
}

@keyframes space {
    40% {
    opacity: 0.75;
    }
    50% {
    opacity: 0.25;
    }
    60% {
    opacity: 0.75;
    }
    100% {
    transform: rotate(360deg);
    }
}

/* --- End Space Backgroung --- */